<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-4">
            <div th:if="${!characters.isEmpty()}" th:each="key : ${characters.keySet()}">
                <h3 th:text="${key}"/>
                <ul>
                    <li th:each="value : ${characters.get(key)}">
                        <a th:if="${url.toString.contains(${key} + '=' + ${value})}"
                           th:href="@{${url.toString().replace(key +'='+ value, '')}}">
                            <input type="checkbox" checked>
                        </a>
                        <a th:unless="${url.toString().contains(${key} + '=' + ${value})}"
                           th:href="@{${url}(${key} = ${value})}">
                            <input type="checkbox">
                        </a>
                        <p th:text="${value}"/>
                    </li>
                </ul>
                <br>
            </div>
        </div>
        <div class="col-sm-8">
            <ul>
                <li th:each="good : ${goodList}">
                    <div class="row">
                        <div class="col-sm-4">
                            <a th:href="@{/catalog}" th:src="${good.photos.get(0)}"></a>
                        </div>
                        <div class="col-cs-8">
                            <a class="text-start align-self-center" th:href="@{/catalog}" th:text="${good.name}"/>
                            <a class="text-end align-self-center" th:href="@{/catalog}" th:text="${good.price}"/>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <ul class="pagination justify-content-center">
                <th:block>
                    <li th:if="${page == 1}" class="page-item disable">
                        <a class="page-link" th:href="@{${url}(page = 1)}"
                           aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                    <li th:unless="${page == 1}" class="page-item">
                        <a class="page-link" th:href="@{${url}(page = 1)}"
                           aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                </th:block>
                <th:block>
                    <li th:if="${page == 1}" class="page-item disable">
                        <a class="page-link" th:href="@{${url}(page = ${page - 1})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:unless="${page == 1}" class="page-item">
                        <a class="page-link" th:href="@{${url}(page = ${page - 1})}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                </th:block>
                <th:block th:if="${countOfPages > 1}">
                    <div class="btn-group">
                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false" th:text="${page}">
                        </button>
                        <ul class="dropdown-menu">
                            <th:block th:each="pageNumber : ${countOfPages.toString().toCharArray()}">
                                <li><a class="dropdown-item" th:href="@{${url}(page = ${pageNumber})}"
                                       th:text="${pageNumber}"></a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                </th:block>
                <th:block>
                    <li th:if="${page == countOfPages}" class="page-item disable">
                        <a class="page-link" th:href="@{${url}(page = ${page + 1})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    <li th:unless="${page == countOfPages}" class="page-item">
                        <a class="page-link" th:href="@{${url}(page = ${page + 1})}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </th:block>
                <th:block>
                    <li th:if="${page == countOfPages}" class="page-item disable">
                        <a class="page-link" th:href="@{${url}(page = ${countOfPages})}"
                           aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                    <li th:unless="${page == countOfPages}" class="page-item">
                        <a class="page-link" th:href="@{${url}(page = ${countOfPages})}"
                           aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"></script>
</body>
</html>